# Node
node_modules/
/frontend/node_modules/
/backend/node_modules/

# build outputs
/frontend/dist/

# uploads
/frontend/uploads/
/backend/uploads/

# logs
*.log

# OS files
.DS_Store
Thumbs.db

# misc
*.env
